.containerSearch {
  margin-left: 400px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 2px;
}

.title {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-align: start;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.subtitle {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(250, 252, 252);
  text-align: start;
  margin-bottom: 1.5em;
  text-shadow: 0px 4px 4px rgba(15, 15, 15, 0.735);
}

.search {
  padding: 7px;
  width: 50rem;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.containerLogo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 100px;
}
.logo {
  width: 10rem;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: radial-gradient(
    52.27% 52.27% at 50.11% 38.49%,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(94, 207, 255, 0) 100%
  );
}
